* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 500px;
    height: 100vh;
    background-color: rgba(221, 221, 221, 0.986);
    font-family: 'Open Sans', sans-serif;
}

.App {
    padding: 10px;
    height: 100%;
}

.top {
    text-align: center;
}


.pending {
    height: 90%;
    margin: 10px;
    display: block;
}
