* {
    margin: 0;
    box-sizing: border-box;
}

.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgba(211, 211, 211, 0.986);
}

.container {
    height: 100%;
    padding: 20px;
    position: relative;
}

.pending-wrapper {
    height: 80%;
    white-space: nowrap;
    display: flex;
}

.input {
    width: 40%;
    min-width: 200px;
    max-width: 800px;
    height: 95%;
    display: inline-block;

}

.prev, .curr {
    height: 50%;
    width: 100%;
    padding: 10px 10px 10px 0;
}


/* Input textarea elements */
.prev-text, .curr-text {
    height: 100%;
    width: 100%;
    resize: none;
    font-family: "r_ansi";
    padding: 5px;
}

.prev-text::placeholder, .curr-text::placeholder {
    font-size: 1.1em;
}
.result {
    position: relative;
    display: inline-block;
    flex-grow: 1;
    height: 95%;
    min-width: 600px;
    padding: 10px;
}

.result-text {
    background-color: #FFFFFF;
    border: solid #A7A7A7 1px;;
    padding: 5px;
    width: 100%;
    height: 100%;
    resize: none;
    white-space: pre;
    overflow-y: scroll;
    font-size: 13px;
    font-family: "r_ansi";
}

.log {
    margin: 50px 0 50px;
    min-width: 500px;
    width: 60%;
}

.filters {
    position: absolute;
    top: 50px;
    right: 50px;
    /* width: fit-content; */
    width: 200px;
    height: 400px;
    background-color: rgb(248, 248, 248);
    border-radius: 25px;
    padding: 5px 15px;
    font-family: sans-serif;
    opacity: 0.5;
    transition: 0.2s;
}

.filters:hover {
    opacity: 1.0;
}

.filters-label {
    text-align: center;
    font-size: 1.4em;
}

hr {
    margin-bottom: 10px;
}

.filters-jul {
    align-content: center;
}

.jul-label {
    display: inline-block;
    width: 50px;
    margin: 0;
    padding: 0;
}

.jul-input {
    width: 110px;
}


.jul-days-line {
    margin: 5px 0;
    display: none; /* Not implemented yet  */
}

.jul-input::placeholder {
    font-style: italic;
    opacity: 0.8;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}